<footer class="footer-section">
    <div class="container">

      <div class="row">
        <div class="col-sm col-xs-12">
         <p class="footer-headings">PRODUCTS</p>
          <p class="footer-components">Product A</p>
          <p class="footer-components">Product A</p>
          <p class="footer-components">Product A</p>
        </div>

        <div class="col-sm col-xs-12">
         <p class="footer-headings">INFO</p>
         <p class="footer-components">About</p>
         <p class="footer-components">Contact Us</p>
        </div>

        <div class="col-sm-4 col-xs-12">
         <p class="footer-headings">CONNECT WITH US</p>
         <div class="footer-components">
         <div class="icon">
         <i class="fa fa-phone"></i><p class="icon"> +91-98105 22046</p>
         </div>
         </div>
         <div class="footer-components">
           <div class="icon">
             <i class="fa fa-phone"></i><p class="icon"> +91-98922 82269</p>
           </div>
         </div>
         <div class="footer-components">
           <div class="icon">
             <i class="fa fa-building"></i><p class="icon"> 11433 - Amar Bhawan, Shakti Nagar, Delhi - 110007</p>
           </div>
         </div>
        </div>
      </div>
  </div>
</footer>

<!-- Libraries -->
<script src="../../node_modules/jquery/dist/jquery.js"></script>
<script src="../../node_modules/bootstrap/dist/js/bootstrap.js"></script>
