<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{pageTitle}}</title>
  <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/public/css/styles.css">
</head>
<body>
    {{> header}}
    <div class="container contact-container">
        <div class="row" style="padding: 1rem">
            <h1>Contact Us:</h1>
            <h2>Delhi</h2>
            <h3>Mr. Rakesh Rawal</h3>
            <p>Address: 11433 - Amar Bhawan, Shakti Nagar, Opposite Ajendra Market, Delhi - 110007</p>
            <p>Phone: +91 9810522046</p>
            <hr class="featurette-divider">
            <h2>Ahmedabad</h2>
            <h3>Mr. Maitrik Trivedi</h3>
            <p>Address: Generic Address</p>
            <p>Phone: +91 9892282269</p>
        </div>
    </div>
    {{> footer}}
</body>
</html>
