@font-face {
    font-family: firaMono;
    src: url('../fonts/FiraMono-Regular.ttf');
}
html {
    font-family: firaMono;
}
.header-section{
    padding-bottom: 51;
}
#navbar{
    background-color: #e66262;
    color:#fff;
}
.navbar-brand{
    font-family: sans-serif;
    text-transform: uppercase;
    color: #ffe9e9 !important;
}
.nav-item a {
    color: #ffe9e9 !important;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}
.about-container{
    padding: 1rem;
}
.about-container h1{
    width: 100%;
}
.contact-container{
    padding: 1rem;
}
.contact-container h1, h2, h3, p{
    width: 100%;
}
.dropdown:hover .dropdown-menu{
    display: block;
}
.footer-section{
    background: #6f7f96;
    bottom: 0;
    left: 0;
    margin-top: 50px !important;
    right: 0;
    padding: 1rem;
    position: relative;
}
.footer-headings{
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 10px;
}
.footer-components{
    display: block;
    font-size: 13;
    margin: 10px 0px;
}
.icon{
    display: inline;
    font-size: 13;
}
.product-container {
    margin: 20px auto;
}
.sidebar {
    border-right: 1px solid #EDEBEF;
    height: 500px;
}
@media (max-width: 800px) {
    .sidebar {
        display:none !important;
    }
}
.category-heading {
    font-weight: 600;
    font-family: sans-serif;
    list-style: none;
    text-transform: uppercase;
}
.category {
    list-style: none;
}
.category-item {
    font-family: sans-serif;
    font-weight: 300 !important;
}
.categoryButton {
    font-size: 14px;
    height: 35px !important;
    text-transform: uppercase;
    width: 100%;
}
.sidebar__section {
    border-bottom: 1px solid #EDEBEF;
    margin-bottom: 10px;
    padding-bottom: 10px;
    /* z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 20px; */
}
.productsDiv {
  display: inline-block;
  max-width: 24% !important;
  text-align: center;
}
.productsDiv a {
  color: inherit;
  text-decoration: none;
}
.products__img {
  background-color: transparent;
  border: 1px solid #d3d3d3;
  display: block;
  height: 240px;
  opacity: 1;
}
.products__title {
  font-family: sans-serif;
  font-weight: 300 !important;
  margin-top: -20px;
}
.products__code {
  font-family: sans-serif;
  font-weight: 500 !important;
  text-transform: uppercase;
}
.product_page_img_main {
  border: 1px solid #D4D5D9;
  height: 400px;
}
.product_page_img_main:hover {
  /* transform: scale(1.5); */
}
.product_page_img_subs {
  border: 1px solid #D3D3D3;
  height: 125px;
  margin: 10px 4px 0px 0px;
  cursor: pointer;
}
.product__container {
  margin-top: 30px;
}
.product__title {
  color: #282C3F;
  font-family: sans-serif;
  font-weight: 500;
  line-height: 1;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px 20px 0px 0px;
}
.product__slogan {
  border-bottom: 1px solid #D4D5D9;
  color: #535665;
  font-family: sans-serif;
  font-weight: 400;
  margin-top: 0px;
  opacity: 0.8;
  padding: 5px 20px 14px 0px;
}
.product__id {
  font-weight: bold;
}
